.test2 {
    font-weight: bold;
    color: white;
    float: left;
    padding: 6px;
    text-decoration: none;
    font-size: 17px;
    width: 8%;
    cursor: pointer;
    transition: 1s all ease; 
    background-color: #0faf0f;
    position: relative;    
    border-radius: 10px;   
}
.test2:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  } 
  .test2:hover {
    background-color:darkgreen;
    padding: 10px 2px;
  }
#btn1 {
    margin-left: 320px;
    display: inline-block;
}
#btn2 {
    margin-left: 180px;
}
#btn3 {
    margin-left: 180px;
}
.test2::before{
    background: #0d6e0d;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}
#btn1::before{
    width: 0;
    height: 100%;
}
.test2:hover::before {
    width: 100%;
}
a:link{text-decoration: none;}
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: 0px;
    padding: 1px;
    background-color: #0FCB10;
}
.selection {
    margin: 0px;
    padding: 12px;
    background-color: #0FCB10;
    border-top: 1px solid black;
    overflow: auto;
}
#back {
    margin: 10px;
}
.LogoN {
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}
.ab {
    font-size: x-large;
    margin-left: 20px;
}
.ab1  h2,ol{
    margin-left: 20px;
}
.ab1 ol {
    font-size: large;
}